<video poster="/assets/poster.png" autoplay="true" muted>
  <source src="/assets/vanityvideo.mp4" type="video/mp4">
  <source src="/assets/vanityvideo.webm" type="video/webm">
</video>

<div class="overlay">
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/content' %>
  </div>
</div>



 
