<div class="row">
  <div class="col-md-12">
    <h3 class="content">
      <div class="three-sixty">360°</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      The problem with reality is that there's no background music until now...
    </h3>
  </div>
</div>  

<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <h2 class="icon">
     <a href="#"><i class="fa fa-video-camera fa-5x" aria-hidden="true"></i></a>
    </h2>
  </div>

  <div class="col-md-3 col-md-offset-2">
    <h2 class="icon">
      <a href="#"><i class="fa fa-television fa-5x" aria-hidden="true"></i></a>
    </h2>
  </div>
</div>  
